/* debug */
.red-border {
	border-style: solid;
	border-width: 3px;
	border-color: rgba(255,0,0,0.2);
}
.red-bg{
	background-color: rgba(255, 0, 0, 0.5);
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #282a36;
}
html {
	    height: 100%;
}


/* parents */
.parent-div {
	display:flex;
	justify-content: flex-start;
	flex-direction: column;
	overflow: hidden;
	margin:0;
	padding:0;
	background-color: #282a36;
}



/* top title */
.name{
	text-align:center;
	color: #f8f8f2;
	font-size: 1.5em;
	width: 100%;
}
.three-x-three{
	text-align: center;
	font-size: 4em;
	color: #f8f8f2;
	width: 100%;
}


/* bottom div */
.bottom-parent{
	width:100%;
}


/* navbar */
.parent-navbar{
	display: flex;
	justify-content: center;
}

.navbar-element{
	font-size: 1.5em;
	background-color: rgba(0,0,0,0);
	color: #f8f8f2;
	border-style: solid;
	padding-left: 1em;
	padding-right: 1em;
	border-width: 0;
	border-bottom-width: 2px;
}

/* board */
.board-parent{
	width:100%;
	display: flex;
	justify-content: center;
	padding-top: 1em;
}
.tile-tiler{
	display: grid;
	grid-template-columns: repeat(3, 10.25em);
}
@media only screen and (max-width: 500px){
	.tile-tiler{
		transform: scale(0.7);
		transform-origin: 50% 0%;
	}
}
.single-tile{
	display: flex;
	justify-content: center;
	position: relative;
	margin:auto;
}

/* tile */
.tile-image{
	width: 100%;
	height: 100%;
	border-radius: 1em;
	padding:0;
}
.tile-overlay {
	position: absolute;
	top: 0;
	left: 0;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color:rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	border-radius: 1em;
	border-width:2px;
	border-style:solid;
	border-color:#50fa7b;
	opacity: 0;
	transition: 0.25s;
	box-sizing:border-box;
	box-shadow: 0 0 2em #50fa7b;
}
.tile-overlay:hover {
	opacity: 1;
}
.tile-rating {
	font-size: 2em;
	color: white;
}
.tile-title {
	text-align: center;
	color: white;
	text-shadow: 0 0 10px #50fa7b;
	padding: 1em;
}







/* fonts */
.header-font{
	font-family: 'Luckiest Guy', cursive;
}
 
.name-font{
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
}


/* globals*/
.noselect {
	  -webkit-touch-callout: none; /* iOS Safari */
		    -webkit-user-select: none; /* Safari */
				     -khtml-user-select: none; /* Konqueror HTML */
						        -moz-user-select: none; /* Old versions of Firefox */
										        -ms-user-select: none; /* Internet Explorer/Edge */
														            user-select: none; /* Non-prefixed version, currently
																				                                  supported by Chrome, Edge, Opera and Firefox */

}
